body {
	
	font-size: 14pt;
	color: #404040;
	font-family: Î¢ÈíÑÅºÚ;
}

table {
	position:relative;
	top:-20px;
	font-size: 14pt;
	color: #404040;
	font-family: Arial;
	margin-left: 100px;
	font-family: Î¢ÈíÑÅºÚ;
}

.input {
	padding-left:5px;
	border: 1px solid #DADADA;
	width:200px;
	height: 28px;
	margin-left: 15px;
}


#vCode {
	margin-left: 15px;
}

#verifyCode {
	width: 80px;
}

label.error {
	color: #cc3300;
}
.modifycontent-content{
	padding-top:20px;
    width:600px;
    height:320px;
    background-color:rgb(240,240,240);
    text-align:center;
    box-shadow: 0px 2px 3px 0px rgb(60,60,60);
    position:absolute;  
    left:50%;  
    top:50%;  
    margin:-180px 0 0 -300px 
}
.submitbutton{
	margin-left: 15px;
	width:80px;
    height:30px;
}

